--index-url https://download.pytorch.org/whl/cu118

torch==2.7.1+cu118
torchvision==0.22.1+cu118
torchaudio==2.7.1+cu118

numpy==2.4.3
pandas==3.0.3
scikit-learn==1.8.0
matplotlib==3.10.9
tqdm==4.66.5
seaborn==0.13.2